.btn {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 50px;
  border: 1px solid transparent;  
  
  &--01 {
    border: 1px solid $color-link;
    background: #fff;
    color: $color-link;
  }
  
  &--02 {
    border: 1px solid $color-link;
    background: $color-link;
    color: #fff;
  }
}